<div class="contenedor">
    <form action="/iniciar-sesion" method="post" class="default-form">
        <div class="campo">
            <label for="">E-mail</label>
            <input type="email" name="email"  placeholder="Tu Email" required>
        </div>
        <div class="campo">
            <label for="">Password</label>
            <input type="password" name="password"  placeholder="Tu Password" required>
        </div>
        <div class="campo acciones">
            <a href="/crear-cuenta">Crea una Cuenta</a>
            <a href="/reestablecer-password">Olvide mi Password</a>
        </div>
        <div class="campo">
            <input type="submit" value="Iniciar Sesión" class="btn btn-azul">
        </div>
    </form>
</div>