<div class="contenido-superior vacante contenedor">
    <div class="caja">
        <div class="etiqueta">Empresa</div>
        <p class="nombre">{{vacante.empresa}}</p>
    </div>
    <div class="caja">
        <div class="etiqueta">Unicación</div>
        <p class="nombre">{{vacante.ubicacion}}</p>
    </div>
</div>